[2016-12-16 20:49] rplzzz opened #1 "Need a way to add data not derived from Model Interface"
Right now the only way to add data to a project is by using `addScenario()`, which expects to get its data from the GCAM Model Interface.  Sometimes we have data that doesn't come directly from the Model Interface.  It might, for instance, be the result of some intermediate processing step, such as some of the water scarcity statistics.  Right now we don't have a good way to add this data to a pro

[2016-12-16 20:52] rplzzz opened #2 "Tests needed"
Some of the functionality still isn't adequately covered in the test suite.  Here are some capabilities that aren't being tested:

- [ ] `transformations` argument to `addScenario()`

[2016-12-18 14:18] rplzzz opened #4 "addScenario() writes a project file even if the import fails"
So, for example, if one of the input files isn't found, you will still get a project file output.  In such cases the file is usually corrupt, meaning you have to go out and delete it before you can try again.  It's also possible that this behavior could cause a valid project file to be overwritten with garbage on a failed attempt to add a scenario.

[2016-12-18 14:58] rplzzz opened #5 "Specifying scenario in addScenario messes up scenario run date"
Specifying the name of a scenario to retrieve causes lubridate to emit a warning ("All formats failed to parse. No formats found.") and sets the scenario run date attribute to NA.

The problem is in importgcam.R line 99.

[2017-01-11 20:48] rplzzz opened #6 "Requesting a query that doesn't exist should be an error"
Right now requesting a query that doesn't exist just returns `NULL`.  We should throw an error in this situation, as nothing after that is likely to work.

[2017-01-11 21:12] rplzzz opened #7 "Allow addScenario() to accept a vector of names of scenarios to add."
Right now if you have a single GCAM database with several scenarios in it, you have to call `addScenario()` once for each scenario you want to add.  You should be able to supply a character vector of scenario names and get them all added with a single operation.

[2017-01-12 17:55] rplzzz opened #8 "Lower-case column titles"
The Model Interface usually produces columns with lower-case headers (e.g., "region"), but occasionally it capitalizes one of them, which can confuse some analysis tools.  We can head these problems off by lower-casing all of the column headers (except the "Xyear" columns, of course).

[2017-01-12 21:02] #1 closed

[2017-01-12 21:02] #4 closed

[2017-01-12 21:02] #5 closed

[2017-01-12 21:02] #6 closed

[2017-01-13 14:53] rplzzz commented on #7
This turns out to be kind of a pain, due to a variety of special cases that have to be considered, so I'm going to put it off until we've knocked out some other projects that have looming deadlines.

[2017-01-13 14:54] #8 closed

[2017-03-03 20:41] rplzzz opened #9 "addScenario fails on queries with axis="Region""
`addScenario` fails with the following message:
[code]
This happens when the query specifies one of the axes as "Region" instead of "region".  For example:
[code]
This will be fixed in a forthcoming patch.  (If you're reading this and this issue is closed, then you need to update your rgcam install!)

[2017-03-03 20:44] #9 closed

[2017-03-03 20:45] rplzzz commented on #9
Fixed in 0.2.1

[2017-03-31 17:51] pralitp commented on #2
@rplzzz, could you elaborate on the second test here?  I've added the one for transformations so I figure I might as well clear the other one out too.

[2017-04-04 11:55] rplzzz commented on #2
I think this is referring to the fact that the case where you have a couple of scenarios in a project file with distinct run dates isn't tested.  The problem is that the only way you get actual run dates in a project file is to have multiple scenarios in your GCAM output db, and the one I included in the package for testing has just one scenario.  For a lot of other multi-scenario tests I can gene

[2017-05-11 18:58] emmaliulu opened #12 "addScenario failed"
My command line is
prj <- addScenario('database_0','water_constraint.dat','Constraint0','ElecProdbyTechVint.xml')

I have the database and .xml file under the same directory, when I try to use the addScenario function, I got this error message,

Error in value[[3L]](cond) :
  error reading file Error in file(file, "r"): cannot open the connection
In addition: Warning message:
In file(file, "r") :

[2017-05-11 19:06] rplzzz commented on #12
@emmaliulu I suspect the model interface is encountering an error and not producing any results.  Can you rerun the command with the extra argument `migabble=""`?  That will cause the output from the model interface to be sent to the console.  If you could post that output here, that will help us get to the bottom of this.

[2017-05-11 19:25] emmaliulu commented on #12
I've tried your approach. Here's what I got.

InterfaceMain: batchFile: C:\Users\liul564\AppData\Local\Temp\RtmpQlRUhm\file15803734285.xml
Running headless? true
The database is not open.
About to perform query: collection('database_0')/scenario
[Fatal Error] :4:6: The processing instruction target matching "[xX][mM][lL]" is not allowed.
org.w3c.dom.ls.LSException: The processing instruction targe

[2017-05-11 19:50] rplzzz commented on #12
So, as you can see here:
[code]
the model interface ran into some kind of problem.  @pralitp, can you tell at a glance what the problem is?

[2017-05-11 20:18] pralitp commented on #12
@emmaliulu, could you post the query file you are trying to run?  It seems to think there is something malformed about it.

[2017-05-11 20:27] emmaliulu commented on #12
This is my query file. Thank you.

<queries>
<aQuery>
<?xml version="1.0" encoding="UTF-8"?>
      <region name="AK"/>
      <region name="AL"/>
      <region name="AR"/>
      <region name="AZ"/>
      <region name="CA"/>
      <region name="CO"/>
      <region name="CT"/>
      <region name="DC"/>
      <region name="DE"/>
      <region name="FL"/>
      <region name="GA"/>
      <region name="H

[2017-05-11 20:33] emmaliulu commented on #12
For some reason, I cannot copy and post the region names with the rest of the query, so here they are.

<queries>
<aQuery>
      <region name="AK"/>
      <region name="AL"/>
      <region name="AR"/>
      <region name="AZ"/>
      <region name="CA"/>
      <region name="CO"/>
      <region name="CT"/>
      <region name="DC"/>
      <region name="DE"/>
      <region name="FL"/>
      <region nam

[2017-05-11 20:33] pralitp commented on #12
Ok, I think maybe there are two things going on.  Judging by the message I think it requires the heading XML heading.  Secondly the queries that rgcam will be looking to run need to be batch query syntax, for instance:
[code]

The ability to run a single query at a time has been added to `rgcam` but is still in a development branch so for now just wrap it in the batch query syntax as above.

[2017-05-11 20:37] emmaliulu commented on #12
![xml file](https://cloud.githubusercontent.com/assets/20967190/25970829/02b43406-3668-11e7-852f-e80af230a76d.png)

For some reason, I cannot copy and paste the entire xml file here. So I took a snapshot of the file.

[2017-05-11 20:50] pralitp commented on #12
You should be able to attach the actual file instead of putting the contents in the comment.

[2017-05-11 21:10] pralitp commented on #12
Sorry, I should have been more explicit in my earlier post.  Could you try adding:
[code]
To the top of your file and see if that helps?

[2017-05-11 21:27] emmaliulu commented on #12
@rplzzz I was able to add the first database with your solution. However, when I tried to add additional database, it showed this error message again:

Error in value[[3L]](cond) :
  error reading file Error in file(file, "r"): cannot open the connection
In addition: Warning message:
In file(file, "r") :
  cannot open file 'C:\Users\liul564\AppData\Local\Temp\RtmpQlRUhm\file158043b579f0.csv': No s

[2017-05-15 15:39] pralitp commented on #12
@emmaliulu, is there more output you can post, particularly with setting the extra argument `migabble=""` when running `addScenario`?

[2017-05-16 14:07] emmaliulu commented on #12
@pralitp Here's what I got when I tried to add additional scenario

prj <- addScenario('database_2', 'water_constraint.dat',
+                    'Constraint2', 'ElecProdbyTechVint.xml',migabble="" )

InterfaceMain: batchFile: C:\Users\liul564\AppData\Local\Temp\Rtmp4At2rb\file16d02792a59.xml
Running headless? true
The database is not open.
About to perform query: collection('database_2')/scenario

[2017-05-16 14:15] pralitp commented on #12
Ah, ok.  It doesn't find a scenario named "Constraint2" in the database.  Maybe it should be named something different?

Note that you can also pass in `NULL` as the scenario name argument to `addScenario` and it will just query the last scenario in the database.  Maybe this would be appropriate in your case?

[2017-05-16 14:30] emmaliulu commented on #12
@pralitp It worked! Thank you very much!

[2017-05-16 14:33] pralitp commented on #12
Great!

[2017-05-16 14:33] #12 closed

[2017-05-16 20:06] #7 closed

[2017-05-19 15:55] dsills opened #13 "Add Scenario not working"
On April 28 all was well, but since yesterday the following command is not working:

[code]

I am getting the following error:

Stopped at ., 1/87:
[bxerr:BASX0000] Could not find scenarios to run.
Error in parse(text = x) : attempt to use zero-length variable name

[2017-05-19 16:00] #13 closed

[2017-05-19 17:08] rplzzz commented on #13
@dsills This looks like the error message you get when the requested scenario is not in the database.  It's possible that you are pointing at the wrong database, or that when you set up the run you forgot to change the scenario title in the `configuration.xml` file.

[2017-05-19 17:12] dsills commented on #13
Thank you, we're working on it.

== Deborah

On Fri, May 19, 2017 at 1:08 PM, Robert Link <notifications@github.com>
wrote:

[2017-05-19 19:32] michaeljaywalsh opened #14 "Queries with XQuery Functions Failing on addScenario"
When running:
`prj <- addScenario(conn,'name00.dat', 'BIOMASS','output/queries/Q.xml')`
Where Q.xml contains a single query (aQuery) of the types noted below, copied over from Main_Queries.xml I got the following failures:

`Stopped at ., 1/2264:
[XPST0003] Expecting ']', found '&'.
Error in parse(text = x) : attempt to use zero-length variable name`

For **Primary Energy Consumption (Direct Equiv

[2017-05-19 20:37] rplzzz opened #15 "Queries that produce zero-length results cause an error"
When a query runs successfully but produces no results because there are none of the thing the query is asking for in the DB (perhaps because they have all been filtered out), the runQuery function produces an error.  This should be a warning at worst, and the user-facing APIs should offer an option to suppress those warnings, for cases where the user expects that some queries won't produce any re

[2017-05-19 21:29] pralitp commented on #14
I'm not exactly sure what is happening.  It seems these queries are getting mangled by the xml2 R package and/or the BaseX library.  At first I thought it was just the XML characters are not getting properly replaced in lines such as:
[code]

But even when working around that specifically it still seems to have trouble.

For now the best workaround is to add those queries manually using the "query

[2017-05-22 15:26] michaeljaywalsh commented on #14
Thanks for looking into this @pralitp
Unfortunately the "query for a query" technique is not working for me for the XQuery Function queries.
I tried the LUC/simple-queries-interactive.xml example from the vignette. -- That works
I tried querying from Main_queries.xml (so as not to mess anything up) -- This works for simple queries but no the XQuery Function queries (i.e. Primary energy with CCS (D

[2017-05-22 16:51] pralitp commented on #14
Using the "query for a query" technique for primary energy with CCS seems to work just fine for me.

I'm not sure where that error message would even be coming form.  Could you turn on the model interface outputs on your "connection" to get more info out of the error?  You can do that when creating the connection:
[code]
Or just change it on the connection object:
[code]

[2017-05-26 19:25] michaeljaywalsh commented on #14
This is what I get:

`About to perform query: collection()/scenario
java.lang.StringIndexOutOfBoundsException: String index out of range: -1
	at java.lang.AbstractStringBuilder.delete(AbstractStringBuilder.java:756)
	at java.lang.StringBuilder.delete(StringBuilder.java:244)
	at ModelInterface.ModelGUI2.xmldb.RunFunctionQueryBinding.bindToQuery(RunFunctionQueryBinding.java:61)
	at ModelInterface.Mo

[2017-05-30 16:08] pralitp commented on #14
Ok, this looks like a separate bug where an empty region list was supposed to query all regions.  The code that finalizes the `XQuery` style queries doesn't cope with this.  I've clearly missed some step when I added this feature but I'm not completely sure what that is.  I'll start a separate issue to deal with this one.

In the mean time to get back to the original bug.  Could you try to run wit

[2017-05-30 16:10] pralitp opened #16 "XQuery functions failing when given an empty region list"
An empty region list should indicate query all regions however the code to finalize they `XQuery` before running doesn't properly cope with this:
[code]

[2017-05-30 20:16] michaeljaywalsh commented on #14
Yeah, including the region list works now...sorry about missing that...so this is working now

[2017-05-30 20:46] michaeljaywalsh commented on #14
So for now I'm just going to incorporate the query for query into our workflow. This actually saves me from having to maintain two query files and just allows me to focus on using the queries for each separate investigation I have.

[2017-05-31 13:49] michaeljaywalsh commented on #16
I have the same issue

[2017-05-31 14:14] pralitp commented on #14
So, I just realized what is going on: BaseX recognizes the text with in the `<xPath>` tags of the query as `XQuery` syntax and attempts to run it before passing it to the model interface.  However the context of that syntax would then be illegal (and the Model Interface needs to fill in some information such as scenarios and regions).
It seems the appropriate thing to do all along would have been

[2017-05-31 16:01] michaeljaywalsh commented on #14
This worked. Thanks!

Now the only thing killing batch mode is issue #15

[2017-05-31 16:23] rplzzz commented on #14
@pralitp Trying to detect missing CDATA tags seems like a needless complication.  The design of rgcam assumes that queries are well formed.  So, we should fix up the query files that we distribute with GCAM (including the example file in the rgcam package) and mention the update to the query format in the rgcam documentation.  We should also make a note about the update in the GCAM docs.

@michael

[2017-05-31 16:58] #16 closed

[2017-05-31 21:13] michaeljaywalsh commented on #14
@rplzzz & @pralitp The updates all appear to be working for me and address issues #14 and #15

[2017-06-01 11:42] #15 closed

[2017-06-01 12:39] michaeljaywalsh opened #19 "Direct Output of Global Aggergrated Results for Market Data"
Not sure if this is bug or feature request as it depends on intended design. In either case this is low priority and can be easily handled after calling rgcam functions.

With the fixes to #14 and #15 it became apparent that using `regions = c()` in _addSingleQuery_ or `<all-regions/>` in the batch query file for _addScenario_ will return results for all regions in a disaggergrated format. This co

[2017-06-01 13:08] pralitp commented on #19
Yes, it wasn't the intent to change the behavior of the "Global" region (sum all regions).  I will fix that.
As mentioned you can just do this in R and generally I have been recommending that to users:  Get the query at a disaggregated level and do aggregations later in R.  If you decide later it would be useful to look at more detailed results it will be much faster than having to re-query the da

[2017-06-01 13:39] michaeljaywalsh commented on #19
I'll take a look at the `add_global_sum` function. My eyes glazed over it the other day but my knowledge of the tidyverse has increased greatly over the last 24 hours.

It might be worthwhile add a Warning to the addScenario and addSingleQuery docs (or elsewhere):
"Global sums are not valid for price (?? and other??) queries." This issue caused a little bit of head scratching when I first looked a

[2017-06-22 13:46] #14 closed

[2017-06-22 13:49] rplzzz opened #21 "Remove default years in model interface config"
Adjust model interface config to produce output only in the years actually run in a scenario.  Currently the MI produces outputs at 15-year intervals up to 2095, even if the run was stopped prior to the end of the century.

[2017-08-30 18:23] rplzzz opened #22 "GCAM DB paths with '~' in them don't work"
This fails:
[code]
but this variant succeeds:
[code]

[2017-08-30 18:26] #22 closed

[2017-09-14 13:02] pralitp opened #24 "Add ability to list all scenarios in database"
@xavier-gutierrez, points out that currently there is no way to get a list of the scenario that are available in a database via rgcam and instead have to resort to some other means (usually through an interactive MI session).  It should be easy enough to add this capability into rgcam.

[2017-09-14 17:59] rplzzz commented on #24
Yes, this would be a useful thing to have.  Does the model interface support such an operation?

[2017-09-14 19:09] pralitp commented on #24
Well, I was thinking this is something that could just be handled as a simple query to BaseX and we can cut the MI out of the loop on this one.  That being said I haven't actually tried it.

[2017-09-15 16:37] rplzzz commented on #24
That sounds like a plan.  Let me know how it goes.

[2017-09-19 21:04] #24 closed

[2017-10-06 18:47] pralitp opened #28 "Running queries with CDATA sections causes error with remoteDBConn"
This issue has to due with invalid nesting of CDATA sections:
https://en.wikipedia.org/wiki/CDATA#Nesting

We just need to replace `]]>` as suggested in the above link before sending the request.

[2017-10-07 00:20] #21 closed

[2017-10-07 00:20] #28 closed

[2017-10-31 18:03] calebbraun opened #31 "Query runs out of memory"
When running the query "GHG emissions by sector" for all regions, we run out of memory, giving this error:
[code]
Changing the memory limit in `runQuery.localDBConn()` from 2GB to 4GB solves this problem for me, but could cause trouble for 32-bit Java.

[2017-11-01 18:55] rplzzz opened #32 "Add version requirements for imports"
Right now the imports section of our description file doesn't have any version requirements.  We need to fix that.  Already one user has been bitten by version incompatibilities in the imports.

[2017-11-07 16:58] calebbraun opened #33 "Adding data to project file from .csv file causes error"
In the function `addQueryTable()`, I get an error when providing the name of a .csv file as the `qdata` parameter. I believe the line causing the error is line 65 in importmisc.R:
[code]
The value `FALSE` seems to be an invalid option for row.names, as the error I get is:
[code]

[2017-11-07 17:35] pralitp commented on #33
Huh, it didn't cause any problems for me.  I currently have readr 1.0.0.  Which version do you have?

Although reading the documentation it _sound_ like `FALSE` should be a valid value.  I'm not sure what the purpose of that is anyhow.  Could you try just dropping the `row.names` argument and seeing if that works?

[2017-11-07 17:50] bpbond commented on #33
@pralitp Note this is reference to `read.csv`, not `readr::read_csv`.

Yeah, you can't say `row.names = FALSE`. This has always been true IIRC; not sure how this line has ever executed without error.

[2017-11-14 21:03] rplzzz opened #35 "Add test for importing tables directly"
The bug fixed in #34 slipped through because the line of code fixed there isn't tested.  We should add a test that covers this functionality.

[2017-11-15 20:33] #33 closed

[2017-11-15 20:33] #35 closed

[2017-11-15 20:48] rplzzz commented on #31
@pralitp Do we even support 32-bit Java?  I feel like everyone who has ever installed it has run into some kind of problem for which the fix is "install 64-bit Java".

[2017-11-15 20:52] pralitp commented on #31
We don't support 32-bit java for running GCAM.  However technically you could use it for running the Model Interface / queries via rgcam.  It could very well be the case that windows folks have been getting away with running the 32-bit Java with rgcam this whole time and changing the max above 2GB would break them.  In which case we would have to figure out how to get R to run the right Java.. whi

[2017-11-16 17:34] cahartin opened #36 "DB path = wd = bad!"
The working directory has to be something other than the directory with the database.  If not, it will return empty for the queries.

[2017-11-17 14:35] cahartin commented on #36
[code]

[2017-11-27 15:13] rplzzz commented on #31
So, if we don't support 32-bit Java, then we should just up the memory limit in `runQuery.localDBConn`.  2 GB may have been a lot in 1997, but it's really not now.

[2017-11-28 20:11] cahartin opened #38 "Add ability to merge multiple project files"

[2017-11-28 20:14] cahartin opened #39 "Adding more queries to an existing project/scenario"
If the scenario exists in the project file but we want to add more queries, will `rgcam` stop because it sees the scenario already there or is it looking to see that those queries are not there?

FYI: i haven't actually tested which is the case.

[2017-11-28 20:17] pralitp commented on #38
Is this different that `?mergeProjects`

[2017-11-28 20:24] pralitp commented on #39
Short answer is no it will not stop.  For more details keep reading:

It doesn't mind about existing scenarios by themselves but does give consideration when a scenario + query combination already exists.  This behavior is controlled by the `clobber` parameter.  By default it is set to `FALSE` so that the results that already exist in your project will not get overwritten.  You can set it to `TRUE

[2017-11-28 20:24] #39 closed

[2017-11-28 20:38] cahartin commented on #39
@pralitp thanks!  I'm going to try that now.

[2017-11-29 13:07] rplzzz commented on #38
That's on me; I told Corinne that I had been thinking about adding this functionality and asked her to create a reminder, not realizing that you had already done it months ago.

[2017-11-29 13:07] #38 closed

[2017-11-29 14:59] cahartin opened #40 "Some queries are not working since update"
The `GHG emission` queries are not working in rgcam when they are read in from an xml file.  They were working prior to the recent update.  rgcam returns an empty dataframe.

[2017-11-29 16:52] cahartin commented on #40
1. for GHG emissions increase Java memory within rgcam source code
2. for primary energy - Pralit made a fix to the query.  @pralitp is this fix already in the GCAM 4.4?

[2017-11-29 16:56] pralitp commented on #40
The `GHG emissions` is related to #31 which has the PR in.  The primary energy was related to #14 and I did update all the queries in GCAM at version 4.4 to be correct.

[2017-11-29 16:56] #40 closed

[2017-12-08 14:11] #31 closed

[2017-12-13 17:45] pralitp opened #42 "Create a front end to run a list of queries out of Main_queries"
@rplzzz, asked for the feature.  While `rgcam` has the capabilities using the "query for a query" technique as described in the vignette it might be nice to formalize it with a front end method similar to  how `addScenario` provides a front end for parsing batch queries and passing them to the `runQuery` / `addQueryTable` to do the heavy lift.

I'm thinking the front end parsing would take two arg

[2017-12-19 21:49] calebbraun opened #43 "Handle queries that are too long"
Running Windows 7, I ran into a problem where the command being piped out by `runQuery()` was over the 8191 characters allowed by the shell. The command obviously failed, so the query returned no results. I was able to shorten the input query by removing a bunch of extra whitespace, and everything was fine after that.

This could likely be handled by removing extra whitespace in `runQuery()`, for

[2017-12-28 16:51] rplzzz commented on #43
@calebbraun That sounds like a good plan.  Could you work on that sometime when you get a chance?

[2018-01-04 16:04] calebbraun opened #44 "Still running out of memory"
Running the query "GHG by subsector" once again gave me the error:
`[XPTY0004] RunMIQuery:runMIQuery(element(), xs:string, empty-sequence()): GC overhead limit exceeded.`

I was able to run it by upping the memory limit from 4 to 8 GB, but why does one query use so much memory anyway? The entire DB I'm querying is only 1.45 GB to start with.

[2018-01-04 16:11] pralitp commented on #44
@xavier-gutierrez also noticed queries were using all of the cores on the machine just to process a single query.  Even after the Model Interface logging indicates that the query is "finished" processing.

My current thinking is something has changed in BaseX since we upgraded versions with regards to how it serializes the output generated from the Model Interface which causes it to use a lot of m

[2018-01-09 13:20] #43 closed

[2018-02-13 18:46] russellhz commented on #44
any update on this?

@d3y419 and I have a project using `iamrpt` that relies on lots of GHG emissions queries and we ran into the same problem

[2018-02-15 13:51] rplzzz commented on #44
Is this really an rgcam problem?  It seems like the issue is in the Model Interface.  Or is the idea here that there is something about the way that rgcam is running the Model Interface that is causing this problem?

[2018-02-15 14:50] calebbraun commented on #44
I thought the issue was with rgcam because running the same query on the same database through Model Interface directly goes quickly and doesn't show large memory use.

[2018-02-15 15:44] rplzzz commented on #44
Interesting.  What is the command that you use to run the query through the Model Interface directly?

[2018-02-15 16:05] calebbraun commented on #44
I ran it through the GUI using a batch query file.

[2018-02-15 16:51] pralitp commented on #44
Sorry I haven't filled in any details about this issue yet.  Well, it is sort of an rgcam issue.  It appears the explosion in memory usage occurs when serializing results to get passed to `rgcam`.

This process is part Model Interface and part BaseX (When running batch queries in just the Model interface it is all Model Interface thus we do not see this issue) where the model interface must genera

[2018-03-26 15:44] russellhz commented on #44
Can the memory limit be increased again? A client needs to be able to run GHG queries from iamrpt.

[2018-06-12 17:30] pralitp opened #48 "Remote DB connection Job Interrupted"
When submitting long running queries we sometimes see the error:

[code]

[2018-06-12 17:34] pralitp commented on #48
Remote database servers seem to have two locations which specific a timeout:

In `~/.basex`:
`TIMEOUT = 30`

In `~/BaseXWeb/WEB-INF/jetty.xml`:
`<Set name="maxIdleTime">60000</Set>`

(Default values listed above.). The one in .basex seems to be the one tripping the Interrupt but just in case we increased the value of each to allow the long running query to finish.

[2018-06-12 17:34] #48 closed

[2019-02-06 16:01] pralitp opened #51 "Revert skipped tests due to readr bug"
Revert 67d5be1 when readr bug gets resolved.  See comment #50 for more background,

[2019-02-06 16:02] pralitp opened #52 "Consider moving back to system2 for running local queries"
See #50 for details.

[2019-03-05 01:55] SmileEric opened #53 "how to get the aggregated land allocation with different AEZ"
In the GCAM Model Interface, the queries include "Aggregated Land Allocation" . But using rgcam package, I couldn't find the "aggregated land allocation".  How to read "Aggregated Land Allocation" using rgcam package.

[2019-03-05 22:37] pralitp commented on #53
The queries and database included with the `rgcam` package are intended to be for example only.

You should always use the queries associated with the GCAM workspace you are using.  There are many different ways you can use those queries in the `rgcam` package.
You could create your own batch queries file by copying them out of the query file in `output/queries/Main_queries.xml`, using `CTRL-C / C

[2019-03-05 22:37] #53 closed

[2019-04-04 16:03] RawisWar opened #54 "Query Policy Cost using RGCAM"
Hi
I am trying to query the policy cost for my scenario run  using rgcam's addScenario function.
![image](https://user-images.githubusercontent.com/34580273/55570305-27f48280-56d1-11e9-9de4-040c69a8e767.png)

For the "costq.xml" I used  the following
![image](https://user-images.githubusercontent.com/34580273/55570026-99800100-56d0-11e9-9d5f-c1210ef135ea.png)

When I run this code i get the error

[2019-04-04 16:14] rplzzz commented on #54
That's usually the error you get when the xpath query doesn't find anything.  Before we go digging too deep, can you verify that the cost curve option was set in the configuration file?  The line looks like this in the default configuration
[code]
The value has to be set to 1 for the policy cost to be written into the output.

[2019-04-04 16:23] RawisWar commented on #54
Yes, cost curve option was set to 1. See results below.
![image](https://user-images.githubusercontent.com/34580273/55571882-69d2f800-56d4-11e9-9335-08de3af2a63f.png)

[2019-04-06 12:32] rplzzz commented on #54
@pralitp Do you have any ideas about what might be causing this?  It's going to be a few days before I have time to look into it.

[2019-04-18 21:25] ckingdon95 opened #55 "question about localDBConn arguments"
I'm using GCAM for the first time and would like to use rgcam to further analyze the results. I think I'm just confused about what the arguments to `localDBConn` are supposed to be, so hopefully this is an easy question!

I've run the reference GCAM configuration, as well as the five SSP scenarios, and I am able to view the results using the GCAM ModelInterface. In the default setup, a folder "out

[2019-04-23 09:35] rplzzz commented on #55
Your option 2 is the correct one.  Even though the database is structured as a folder on the disk, it is logically a single "database file".

As to the error you are getting, I've not seen it before.  From what I can tell, it's an error that Windows produces when there's a problem with the filesystem.  See, for example the answers here:
https://www.quora.com/What-does-the-volume-for-the-file-has-b

[2019-04-23 09:37] rplzzz opened #56 "Clarify dbFile argument"
The baseX database "file" appears as a folder on disk.  This creates a bit of confusion for users.  Update the documentation to clarify that this folder the "file" we are referring to.

[2019-04-23 13:48] ckingdon95 commented on #55
Thanks for the clarification!

[2019-05-02 00:48] gokuliyer opened #57 "Install error"
I got this error with install_github('JGCRI/rgcam').

ERROR: hard-coded installation path: please report to the package maintainer and use '--no-staged-install'
* removing 'C:/Users/iyer786/Documents/R/win-library/3.6/rgcam'
Error in i.p(...) :
  (converted from warning) installation of package ‘C:/Users/iyer786/AppData/Local/Temp/RtmpY3Wk5N/file23e42e241503/rgcam_0.5.0.tar.gz’ had non-zero exit s

[2019-05-02 07:57] pralitp commented on #57
From:
https://developer.r-project.org/Blog/public/2019/02/14/staged-install/index.html

It seems the install process in R has changed such that packages get installed in a temporary space then moved into place later.  Thus as discussed in the `Paths hard-coded in R code` section of the link above:

We have a few of these including `DEFAULT.MICLASSPATH`, `SAMPLE.GCAMDB`, `SAMPLE.QUERIES`.  It seems

[2019-05-03 15:25] pralitp commented on #54
The cost curve queries need to process results in a very different way then any other results (they are reported into the database in a format that isn't totally amenable for querying).  In the model interface there was some special code to account for this and when we added support for `rgcam` this was overlooked.

Should be fairly straightforward to fix, I'll open a PR hopefully this afternoon.

[2019-05-04 13:17] #57 closed

[2019-05-04 13:28] pralitp commented on #32
This was closed in #59

[2019-05-04 13:28] #32 closed

[2019-05-04 15:12] #19 closed

[2019-05-04 15:13] rplzzz commented on #54
@RawisWar The new version should fix your problem.  Let us know if it doesn't.

[2019-05-04 15:13] #54 closed

[2019-06-04 22:55] evasinha opened #60 "Query agricultural technology yield"
The query titled `ag tech yield` in `Main_queries.xml` is returning an empty table.

The query is as follows:
[code]

However, the same query generates output through ModelInterface.

Similarly query titled `ag production by tech` generates the output but values in the `technology` column are same as in the `subsector` column, i.e., information about the irrigation and fertilizer technology are lo

[2019-06-08 15:05] nrb177 opened #61 "Error connecting to db"
I am having problems with the conn/ localDBConn
The file which is is trying to access is present. (but 0 KB)

Error in localDBConn("/~/Downloads/gcam-v5.1.3-Mac-Release-Package/output/",  :
  could not find function "localDBConn"

Exception in thread "main" java.lang.UnsupportedClassVersionError: org/basex/BaseX : Unsupported major.minor version 52.0
	at java.lang.ClassLoader.defineClass1(Native M

[2019-06-09 18:37] rplzzz commented on #61
@pralitp This line makes it look like there is a problem with the Java config:

What do you think?

[2019-06-11 19:37] pralitp commented on #61
That error message indicates you are using older version of Java than is currently supported.  `rgcam` currently requires (due to the `BaseX` XML database library) Java 1.8+

[2019-06-11 23:38] #60 closed

[2019-06-12 15:27] evasinha commented on #60
@pralitp The `ag tech yield` query is now returning the yield values. Thanks for fixing this issue.

[2019-08-02 22:48] LeonardoFrid commented on #55
I am also experiencing exactly the same problem.  How did you resolve this?

[2019-09-24 16:44] Silviameteoro commented on #55
Hi,
I am also having the same issue in rgcam. Could you let us know how you solved the problem? Thanks a lot.

[2019-09-24 18:44] ckingdon95 commented on #55
Hi, I'm really sorry but now I can't remember how I resolved this. I think it might have been that I was mis-specifying the path to the directory, but I'm not sure. Make sure you give it the full path to the output directory

[2019-09-25 10:38] rplzzz commented on #55
@Silviameteoro could you tell me what version of the `readr` package you have installed?

[2019-09-25 13:59] pralitp commented on #55
@rplzzz, note the error really doesn't have anything to do with readr (see #50; I've fixed the issue in readr which produces the message and I assume will be included the next release).

The real error is it is unable to open the database for whatever reason.  I think we will need more details from the users including the exact commands they have tried.

[2019-09-25 14:16] zarrarkhan commented on #55
@rplzzz @pralitp @Silviameteoro

So basically we are runningthe localDBConn command with a database path and the database name and we get the error being discussed here:

rgcam::localDBConn(gcamdatabasePath_i,gcamdatabaseName_i)

Error in guess_header_(datasource, tokenizer, locale) : Cannot read file C:/Users/sant073/AppData/Local/Temp/RtmpWKBvlu/file20dc727515e4: The volume for a file has been e

[2019-09-25 16:08] rplzzz commented on #55
@pralitp Maybe a failure in trying to run the query then?  Would it be worth turning on the option to capture the model interface's console output?

[2019-09-25 19:54] pralitp commented on #55
Maybe, although the simple query we run to test if the `localDBConn` is configured correctly is entirely through BaseX and the model interface isn't in the loop.  Although we could try to run a regular query on the connection even though the open "failed" with the `migabble=FALSE` and see if the model interface can give some insight then.

[2019-09-30 15:02] Silviameteoro commented on #55
Hi @rplzzz,

The rgcam version I have installed is 1.0.0.

[2019-11-07 16:43] ejarbuck opened #64 "Memory limits blocking ability to connect to database"
As discussed with Pralit today, I was having an issue with the TODO: memory limits preventing me from being able to connect the database in rgcam. The issue was resolved by reducing the memory limits to 1 GB (in querymi.R) in 2 separate places. After this, I was able to connect my database through localDBConn(). We discussed that it would be helpful to make this user configurable.

[2019-11-14 20:39] cgnolte opened #65 "devtools::build_vignettes('rgcam') gives Error: Can't find 'rgcam'"
Using R version 3.4.4 on RHEL 7.7, I installed rgcam via

    devtools::install_github('JGCRI/rgcam')

This took quite some time. It appeared to complete successfully, but I did get this warning message:
"GitHub repo contains submodules, may not function as expected!"
I then tried to build the vignettes:

    library('rgcam')
    devtools::build_vignettes('rgcam')

But got the error message:
Error

[2019-11-14 20:43] rplzzz commented on #65
The warning about the submodule is harmless.  The submodule contains the source code for the Java code that accesses the GCAM output, but all you really need is the jar-file, which is included.

The second issue is more puzzling.  Just to be clear, do you get the error message after running `library(rgcam)` or after running `build_vignettes`?

[2019-11-14 20:46] cgnolte commented on #65
I get the error message after running (attempting to run) `build_vignettes`.

[2019-11-14 20:52] rplzzz commented on #65
Ah, I see the problem.  `build_vignettes` wants the path to the root of the package source, not the name of the packages.  So, it's looking for a directory called `rgcam`, and there isn't one.  There are two ways you can go about it.

1. Clone the repository from github, then change into the top folder of the repository and say `build_vignettes('.')`, or ...
2. Tell `install_github` to build the v

[2019-11-14 21:12] cgnolte commented on #65
Thanks, it is working now. You might want to modify the documentation at the bottom of [this page](https://github.com/JGCRI/rgcam).

[2019-11-15 02:26] rplzzz opened #66 "Vignette instructions in README are incorrect"
The `readme.md` file claims you can build the vignettes after installation using `devtools::build_vignettes`, but as described in #65, this is not how `build_vignettes` works; you have to clone the repository to use that function.  Update documentation to indicate that vignettes can either be built as part of the installation process, or by cloning the repository and running the build function.

[2019-11-15 02:27] rplzzz commented on #65
Thanks, @cgnolte, I've created another issue to remind me to do that.

[2019-11-15 02:27] #65 closed

[2019-11-15 16:27] #66 closed

[2019-11-18 17:53] yingzhangpnnl opened #69 "R diagnostics does not print out information fully on Windows 10 system"
RT

Thanks!

[2019-11-18 17:56] pralitp commented on #69
This is the output from the model interface which should be displayed when configuring a `localDBConn` with `miggable=FALSE`

[2019-11-19 21:30] #64 closed

[2019-11-19 21:43] pralitp commented on #55
I wonder if this was related to #68: basically the value for the maximum memory set inside of the package is greater than your system can provide (possibly due to a 32-bit version of Java) `localDBConn` will fail immediately with no helpful error messages.

We've just fixed that issue by allowing users to explicitly set the max memory.  Perhaps try updating to the latest version (1.1.0) and settin

[2019-11-20 16:18] ypwong22 commented on #55
Just throwing my two cents on the problem: it might be because the path is too long, or the folder to the database is sync-ed on cloud. I was experiencing the same issue, and it disappeared after I copied the whole GCAM directory out of my OneDrive sync-ed folder into C:/user/admin/Documents/

[2019-12-22 15:12] rplzzz opened #70 "Move test data out of inst"
Right now, the test data gets installed along with the package.  However, that data is only useful for running the tests and for use in the example vignettes.  The price we pay for that is that the large files prevent us from distributing rgcam on CRAN, which we might want to do someday.

What if we took the test data out of the package install directory and instead gave it a permanent home on som

[2019-12-23 14:03] pralitp commented on #70
I don't mind moving it out (and maybe we could do it in such a way that we can share it with `gcam_reader` as well).

But we should just double check, I think we made defaults such that if you didn't specify a database (no connection nor path) it would give you the internal sample data.  I don't think this is a feature we need to maintain but just something to watch out for when we do make changes

[2019-12-23 14:06] rplzzz commented on #70
Yes, I could live with making it an error not to specify a database.  Having the default database was handy back when we were first developing the package, but at this point the test database is so limited that I can't imagine it's useful to anyone else.

[2020-05-21 04:39] Alphapuppy commented on #55
I think the trick is that the working dictionary has to be different than the  `/path/to/dbs` !!! And then `conn = localDBConn(/path/to/dbs, database_basexdb)`.  E.g., it worked for me with `setwd(/path/to/dbs/results)`. I did not know why. But I got the same error otherwise.

[2020-07-01 15:41] cgnolte opened #71 "UnsatisfiedLinkError connecting to db"
Code that I had working a few months ago is no longer working, failing on localDBConn(). Presumably something on my system has changed, but I can't tell what it is.

    Error: LinkageError occurred while loading main class org.basex.BaseX
        java.lang.UnsatisfiedLinkError: /home/cnolte/lib/jdk-13.0.1/lib/libnio.so: /home/cnolte/lib/jdk-13.0.1/lib/libjava.so: version
    `SUNWprivate_1.1' not

[2020-07-01 18:45] cgnolte commented on #71
The problem turned out to be that on startup, R (via /usr/lib64/R/etc/ldpaths) was prepending the path to the system Java to my LD_LIBRARY_PATH. A new version of Java on my system was being found, causing everything to break.

One simple solution is to override this in my R script via `Sys.setenv(LD_LIBRARY_PATH='mypath')`.

[2020-07-01 18:45] #71 closed

[2020-08-04 01:16] wandereronthelea opened #72 "information on how to setup queries.xml files"
Hi there,

I am new to GCAM, and am trying to determine the demand and supply of agricultural commodities and water for my research. However, I am unable to find any information online about how to specify the xPath variables. The link to GCAM listserv in GCAM's documentation seems to be broken. Could you provide some help? Thank you!

Yaoping

[2021-04-05 08:34] JiachenWang1995 commented on #55
In my case,

db_conn <- localDBConn("D:/GCAM/gcam-core-gcam-v5.1.3/output", "database_basexdb")
db_conn <- localDBConn("D:/GCAM/gcam-core-gcam-v5.1.3/output/", "database_basexdb")

the first one works well, the second one fails (with the same error in guess_header_).

[2021-07-21 14:23] zarrarkhan opened #76 "Switch to github actions"
Switch tests, builds, coverage, docs to github actions.

[2021-08-20 14:26] sirwentemi opened #77 "rgcam not working after update."
Hi

I updated my rgcam yesterday, for some reason I can not use it any longer. I get a lot of warnings when I run the `addScenario() `code and it doesn't generate the output in R.  How can I resolve this issue ?

[2021-09-16 14:19] mengqi-z opened #78 "rgcam::localDBConn Issue"
`rgcam::localDBConn` is not working when the R working directory is set to be the same as the directory that holds GCAM database.  Here is an example error I got:
[code]

[2021-10-07 02:22] bdvalqui opened #79 "Error: Base operators are not defined for quosures when running diagnostics.R from GCAM GCAM v5.4"
Hi RGCAM Community,

I am using R version 4.1.1. I have run the diagnostics.R file from GCAM v5.4 and I got the following error:

Error: Base operators are not defined for quosures.
Do you need to unquote the quosure?

  # Bad:
  myquosure >= rhs

  # Good:
  !!myquosure >= rhs
Run `rlang::last_error()` to see where the error occurred.
In addition: There were 30 warnings (use warnings() to see the

[2022-02-04 17:38] ouyang363 commented on #78
Saved my day! thank you Mengqi for finding this!!

[2022-02-04 17:43] mengqi-z commented on #78
Does it work for you if you change your R working directory to be different from the GCAM database directory? I found some people still get errors even if they change the working directory. Hope this bug gets fixed soon!

[2022-02-14 18:57] tjstelmach opened #80 "RGCAM package issues"
Hi rgcam team,
Our collaborators had a recent error related to parsing the database that was R package-related. When the `addScenario()` command was run, the following was output:
`Scenario GCAMC does not exist in this project. Creating.`
`Scenario GCAMCAN_pr does not exist in this project. Creating.`
`Scenario GCAMCAN_prov_Ref does not exist in this project. Creating.`
`Scenario MB does not exist

[2022-02-14 18:59] tjstelmach commented on #80
Resolved by editing hte rversion of readr from 2.1.0 to 1.4.0 using renv lock file change

[2022-02-14 18:59] #80 closed

[2022-04-25 23:56] rubcalvo opened #81 "Ag InputCosts query return empty table"
Dear all, I'm trying to use a new query to extract Input Costs from the Ag Production module, but it results in an empty table.

[code]
This query is based on one included in Main_queries.xml from GCAM Core that works fine.

[code]
Thanks in advance!

[2022-07-25 00:46] nurf004 commented on #80
Hi, I'm wondering how to do this? I have no idea of using renv lock file change. Thank you!

[2022-08-04 16:27] joeyh5432 opened #83 "addScenario- Error in regmatches: subscript out of bounds"
I'm fairly new to GCAM and rgcam. I'm running into issues with the addScenario function.

When I run addScenario, I get the following error:
prj <- addScenario(conn, 'output.dat','scenario name', 'Main_queries.xml')
Stopped at C:/Users/jared/AppData/Local/Temp/RtmpExFhvg/file25841c5061dc, 1/88:
[XPST0003] Expecting function argument, found ','.
Error in regmatches(query, m)[[1]] : subscript out of

[2022-08-22 09:39] Cermouth commented on #83
Hi @joeyh5432 ! Did you solve this problem? I met this too. But it worked well with GCAM v5.4.

[2022-08-22 12:59] joeyh5432 commented on #83
@Cermouth I have not solved the problem, unfortunately. I will try in GCAM v5.4 when I have a chance and see what happens.

[2022-11-04 05:57] amnmalik opened #84 "need package ghit"
install_github needs package ghit which has been [removed ](https://cran.r-project.org/web/packages/ghit/index.html) from CRAN. Perhaps this should be mentioned in the README?

[2022-11-04 05:59] amnmalik commented on #84
used devtools instead

[2022-11-04 05:59] #84 closed